.Layout {
  background-image: url('../../components/LosAngeles/Assets/Countries/Pictures/bondphoto.jpg');
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
